# A backup of the original file with addition options is at /etc/default/tomcat7.bak
TOMCAT7_USER=tomcat7
TOMCAT7_GROUP=tomcat7
JAVA_HOME={{ java_home }}
JAVA_OPTS=" -Djava.awt.headless=true -XX:+UseG1GC -XX:+UseCompressedOops -XX:-UseLargePagesIndividualAllocation -XX:MaxPermSize=128M -Xms512m -Xmx4096m -Djava.util.logging.config.file=/etc/tomcat7/logging.properties -Dfcrepo.modeshape.configuration=classpath:/config/jdbc-postgresql/repository.json -Dfcrepo.ispn.postgresql.username={{ hydra_pg_user }} -Dfcrepo.ispn.postgresql.username='{{ hydra_pg_pass }}' -Dfcrepo.ispn.postgresql.host={{ hydra_pg_host }} -Dfcrepo.ispn.postgresql.port={{ hydra_pg_port }} -Dfcrepo.home=/opt/fedora-data"


